<form method="get" action="Result">
    <h4>Please fill the form to register!</h4>
    <p>First Name:</p>
    <input type="text" name="FirstName" />
    <p>Last Name:</p>
    <input type="text" name="LastName" />
    <p>Email:</p>
    <input type="email" name="Email" />
    <p>Phone Number:</p>
    <input type="number" name="PhoneNumber" />
    <p>Password:</p>
    <input type="password" name="Password" />
    <p>Age</p>
    <input type ="number"  name="Age" />


    <input type="submit" />
</form>

<p> @ViewBag.FirstName</p>
<p> @ViewBag.LastName</p>
<p>@ViewBag.email</p>
<p>@ViewBag.PhoneNumber</p>
<p>@ViewBag.Password</p>
<p>@ViewBag.Age</p>